.invoice-items-table {
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 20px; 
}


.invoice-items-table th,
.invoice-items-table td {
  border: 1px solid #ddd; 
  padding: 8px; 
}


.invoice-items-table th {
  background-color: #f2f2f2; 
  font-weight: bold;
}